*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Roboto;

}

.uzb{
  position: relative;
  height: 100%;
  background-color: rgb(250, 251, 255);
}

.uzb-header{
  height: 100vh;
  background: url('../img/uzb-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.uz-nav{
  height: 20vh;
  display: flex;
  max-width: 1920px;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.uz-nav .logo img{
  width: 150px;
}

.uz-nav .links{
  display: flex;
}

.uz-nav .links a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 12px 16px;
  transition: 0.3s all ease-in-out;
  border-radius: 5px;
  margin-left: 20px;

}
.uz-nav .links a:hover{
  background-color: rgba(0, 0, 0, 0.274);
}

.header-action{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Montserrat;
  text-transform: uppercase;
  color: #fff;
}

.header-action h1{
  color: #fff;
  font-size: 92px;
}
.header-action h3{
  color: #fff;
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 100px;
}

.header-action .arrow i{
  background-color: rgba(0, 0, 0, 0.315);
  padding: 12px;
  color: #ccc;
  border-radius: 50px;
  font-size: 18px;
  border: 2px solid transparent;
  transition: 0.2s all ease-in-out;
}
.header-action .arrow i:hover{
  background-color: rgba(0, 0, 0, 0.664);
  color: #fff;
  border-radius: 50px;
  font-size: 18px;
  border: 2px solid #fff;
}

.main{
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  background: #fff;
}

.history{
  min-height: 100vh;
}

.hist-header{
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 0 100px;
}

.hist-header h1{
  font-family: Montserrat;
  font-size: 42px;
}

.hist-main{
  min-height: 85vh;
  padding: 50px 100px;
}

.hist-main .tab-list{
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.hist-main .tab-list a{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  padding: 12px 16px;
  border-radius: 5px;
  transition: 0.3s all ease-in-out;
}
.hist-main .tab-list a:hover{
  /* background-color: #52ac62; */
  /* color: #fff; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);

}

.hist-main a.active {
  font-weight: 600;
  background: #52ac62;
  color: #fff;
}

.hist-main .tab-content {
	display: none;
}

.hist-main .show {
}

.hist-main .tab-content.show{
  width: 100%;
  display: flex;
}
.hist-main .tab-content.show img{
  width: 30%;
  border-radius: 5px;
  align-self: flex-start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}
.hist-main .tab-content.show .text{
  width: 70%;
  margin-left: 10px;
  line-height: 1.7;
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
  color: rgb(24, 24, 24);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}






/* VISA */





.visa{
  min-height: 100vh;
}

.visa-header{
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 0 100px;
  justify-content: center;
  background: url('../img/bg1_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.visa-header h1{
  font-family: Montserrat;
  font-size: 42px;
  text-align: right;
}

.visa-main{
  min-height: 85vh;
  position: relative;
  display: flex;
  align-items: flex-start;
  padding:  100px 150px;
}

.visa-main img{
  width: 30%;
  border-radius: 5px;
  width: 30%;
  border-radius: 5px;
  align-self: flex-start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

.visa-main .action{
  width: 70%;
  margin-left: 10px;
  line-height: 1.7;
  padding: 25px;
  border-radius: 5px;
  font-size: 16px;
  color: rgb(24, 24, 24);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

.visa .action .text{
  text-align: justify;
}

.visa .action .btn{
  text-decoration: none;
  display: block;
  width: 40%;
  padding: 12px 0;
  background: #52ac62;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  transition: 0.1s all ease-in-out;
  border-radius: 5px;
}

.visa .action .btn:hover{
  background: #3d7948;
}





/* TRANSPORT */

.transport-header{
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 0 100px;
  background: rgba(0, 0, 0, 0.171);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.transport-header h1{
  font-family: Montserrat;
  font-size: 42px;
}

.transport-content{
  min-height: 85vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:  100px 150px;
}

.transport-card{
  max-width: 350px;
  width: 70%;
  max-height: 534px;
  background-color: #fff;
  padding: 0;
  margin-bottom: 50px;
  box-shadow: 0 0 10px #eee;
  transition: all 0.3s ease;
  margin-right: 10px;
}

.transport-card:hover{
  box-shadow: 0 0 25px #ddd;
}

.transport-card img{
  display: block;
  width: 100%;
}

.transport-card h3{
  color: #000;
  font-size: 20px;
  padding: 20px 30px;
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid rgb(233, 233, 233);
}


.transport-about{
  display: block;
  text-align: center;
  padding-bottom: 30px;
  font-weight: 600;
  text-decoration: none;
}



/* Food */

.food-header{
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 0 100px;
  justify-content: center;
  background: rgba(0, 0, 0, 1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  color: #fff;
}
.food-header h1{
  font-family: Montserrat;
  font-size: 42px;
}

.food-main{
  min-height: 85vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:  100px 150px;
  align-items: center;
}

.food-card{
  max-width: 350px;
  width: 50%;
  background-color: #fff;
  padding: 0;
  margin-bottom: 50px;
  box-shadow: 0 0 10px #eee;
  transition: all 0.3s ease;
  margin-right: 10px;
  position: relative;
}
.food-card:hover{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.336);
}

.food-card img{
  width: 100%;
}

.food-card h3{
  position: absolute;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  bottom: 0;
  background: rgba(0, 0, 0, 0.719);
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  transition: 0.2s all ease-in-out;
}

.food-card:hover h3{
  padding: 45px;
}


@media (max-width: 600px) {
  .uz-nav{
    height: 20vh;
    display: flex;
    max-width: 1920px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  
  .uz-nav .logo img{
    width: 100px;
  }
  
  .uz-nav .links{
    display: flex;
  }
  
  .uz-nav .links a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px 8px;
    transition: 0.3s all ease-in-out;
    border-radius: 5px;
    margin-left: 5px;
  }
  .uz-nav .links a:hover{
    background-color: rgba(0, 0, 0, 0.274);
  }
  
  
  .header-action h1{
    color: #fff;
    font-size: 38px;
  }
  .header-action h3{
    color: #fff;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 200px;
  }
  
  .header-action .arrow i{
    background-color: rgba(0, 0, 0, 0.315);
    padding: 12px;
    color: #ccc;
    border-radius: 50px;
    font-size: 12px;
    border: 2px solid transparent;
    transition: 0.2s all ease-in-out;
  }
  .header-action .arrow i:hover{
    padding: 12px;
  }

  /* HISTORY */

  .history{
    min-height: 100vh;
  }
  
  .hist-header{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 ;
  }
  
  .hist-header h1{
    font-family: Montserrat;
    font-size: 36px;
  }
  
  .hist-main{
    min-height: 85vh;
    padding: 25px 10px;
  }
  
  .hist-main .tab-list{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .hist-main .tab-list a{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    padding: 12px 14px;
    border-radius: 5px;
    transition: 0.3s all ease-in-out;
  }
  .hist-main .tab-list a:hover{
    /* background-color: #52ac62; */
    /* color: #fff; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
  
  }
  
  .hist-main a.active {
    font-weight: 600;
    background: #52ac62;
    color: #fff;
  }
  
  .hist-main .tab-content {
    display: none;
  }
  
  .hist-main .tab-content.show{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .hist-main .tab-content.show img{
    width: 100%;
    border-radius: 5px;
    align-self: flex-start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    margin-bottom: 20px;
  }
  .hist-main .tab-content.show .text{
    width: 100%;
    margin-left: 0;
    line-height: 1.7;
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(24, 24, 24);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
  }
  
  /* VISA */





.visa{
  min-height: 100vh;
}

.visa-header{
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  background: url('../img/bg1_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.visa-header h1{
  font-family: Montserrat;
  font-size: 36px;
  text-align: right;
}

.visa-main{
  min-height: 85vh;
  position: relative;
  display: flex;
  align-items: flex-start;
  padding:  10px 10px;
  flex-direction: column;

}

.visa-main img{
  width: 100%;
  border-radius: 5px;
  align-self: flex-start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
  margin-bottom: 15px;
}

.visa-main .action{
  width: 100%;
  margin-left: 0px;
  line-height: 1.7;
  padding: 25px;
  border-radius: 5px;
  font-size: 16px;
  color: rgb(24, 24, 24);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

.visa .action .text{
  text-align: justify;
}

.visa .action .btn{
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 12px 0;
  background: #52ac62;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  transition: 0.1s all ease-in-out;
  border-radius: 5px;
}

.visa .action .btn:hover{
  background: #3d7948;
}

  
/* TRANSPORT */

.transport-header{
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: rgba(0, 0, 0, 0.171);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  margin-top: 30px;
}
.transport-header h1{
  font-family: Montserrat;
  font-size: 36px;
}

.transport-content{
  min-height: 85vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:  20px 0;
}

.transport-card{
  max-width: 350px;
  width: 80%;
  max-height: 534px;
  background-color: #fff;
  padding: 0;
  margin-bottom: 50px;
  box-shadow: 0 0 10px #eee;
  transition: all 0.3s ease;
  margin-right: 10px;
}

/* Food */

.food-header{
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 0 100px;
  justify-content: center;
  background: rgba(0, 0, 0, 1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  color: #fff;
}
.food-header h1{
  font-family: Montserrat;
  font-size: 36px;
}

.food-main{
  min-height: 85vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:  20px 0;
  align-items: center;
}

.food-card{
  max-width: 350px;
  width: 80%;
  background-color: #fff;
  padding: 0;
  margin-bottom: 50px;
  box-shadow: 0 0 10px #eee;
  transition: all 0.3s ease;
  margin-right: 10px;
  position: relative;
}
.food-card:hover{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.336);
}

.food-card img{
  width: 100%;
}

.food-card h3{
  position: absolute;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  bottom: 0;
  background: rgba(0, 0, 0, 0.719);
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  transition: 0.2s all ease-in-out;
}

.food-card:hover h3{
  padding: 45px;
}

  
}

.transport-card img {
  width: 300px;
  height: 180px;
}